<div class="login" >

<%= simple_form_for :session, url: session_path do |f| %>
	<h4>Username</h4>
	<%= f.input :username, label: false %>
	<h4>Password</h4>
	<%= f.input :password, label: false %>

	<%= f.button :submit, 'Log in' %>

<% end %>

</div>