// Place all the styles related to the infocats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ichead {
	text-align: center;
}

.categories {
	margin: 1em;
}

.category a {
	text-decoration: none;
	color: #000000;
}

.category h2 {
	font-size: 1.2em;
}

.category h5 {
	font-size: 0.9em;
	text-indent: 2em;
}

.category a:hover {
	background-color: #DBDBDB;
}



.Editingopen h5 {
	text-align: right;
	display: block;
}

.Editingopen a {
	padding: 1em;
	text-decoration: underline;
	color: #345678;
	font-weight: normal;
}

.newopen input[type="text"],
.newopen input[type="password"],
.newopen input[type="email"],
.newopen input[type="url"]
 {
  width: 30em;
  background-color: #345678;
  color: #FFFFFF;
  border: inset;
}

.newopen input[type="number"] {
    width: 5em;
  background-color: #345678;
  color: #FFFFFF;
  border: inset;
}

.newopen textarea {
	width: 60em;
	background-color: #345678;
  color: #FFFFFF;
  border: inset;
  height: 10em;
}

.newopen h4 {
  margin-bottom: 0.2em;

}

.newopen {
  background-color: #C8C8C8;
    font-size: .7em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em;
  margin-left: 15em;
  margin-top: 2em;
  
}

.newopen input[type="submit"] {
   margin-left: 4em;
   margin-top: 0.4em;
}