// Place all the styles related to the infocats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ichead {
	text-align: center;
}

.categories {
	margin: 1em;
}

.category a {
	text-decoration: none;
	color: #000000;
}

.category h2 {
	font-size: 1.2em;
}

.category h5 {
	font-size: 0.9em;
	text-indent: 2em;
}

.category a:hover {
	background-color: #DBDBDB;
}



.Editingopen h5 {
	text-align: right;
	display: block;
}

.Editingopen a {
	padding: 1em;
	text-decoration: underline;
	color: #345678;
	font-weight: normal;
}