
.oihead {
	text-align: center;
	font-weight: bold;
}
.openinformations {
	margin: 1em;
}

.openinformation {
	border: 0.3em solid #C8C8C8;
	margin-bottom: 0.3em;
}

.openinformation h2 {
	padding: 0.2em;
}

.openinformation h5 {
	padding: 0.4em;
}

.createpublic a {
	text-align: right;
	display: block;
	margin-bottom: 0.5em;
}

.Editingopen h5 {
	text-align: right;
	display: block;
}

.Editingopen a {
	padding: 1em;
}