// Place all the styles related to the resumeitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resumehead {
	text-align: center;
}

#resumekeygo {
	padding: 2em;
}

.resumetabs a {
	text-decoration: none;
}

.createpublic a {
	text-align: right;
	display: block;
	margin-bottom: 0.5em;
}

.Editingopen h5 {
	text-align: right;
	display: block;
}

.Editingopen a {
	padding: 1em;
}

.newopen input[type="text"],
.newopen input[type="password"],
.newopen input[type="email"],

 {
  width: 30em;
  background-color: #345678;
  color: #FFFFFF;
  border: inset;
}

.newopen input[type="number"] {
    width: 5em;
  background-color: #345678;
  color: #FFFFFF;
  border: inset;
}

.newopen textarea {
	width: 60em;
	background-color: #345678;
  color: #FFFFFF;
  border: inset;
  height: 10em;
}

.newopen h4 {
  margin-bottom: 0.2em;

}

.newopen {
  background-color: #C8C8C8;
    font-size: .7em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em;
  margin-left: 15em;
  margin-top: 2em;
  
}

.newopen input[type="submit"] {
   margin-left: 4em;
   margin-top: 0.4em;
}

