// Place all the styles related to the resumeitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resumehead {
	text-align: center;
}

#resumekeygo {
	padding: 2em;
}

.resumetabs a {
	text-decoration: none;
}

.createpublic a {
	text-align: right;
	display: block;
	margin-bottom: 0.5em;
}

.Editingopen h5 {
	text-align: right;
	display: block;
}

.Editingopen a {
	padding: 1em;
}