
/* Putting in the web fonts
---------------------------
-----------*/


@font-face {
    font-family: 'socicon';
    src: url(font_path('socicon-webfont.eot'));
    src: url(font-path('socicon-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('socicon-webfont.woff')) format('woff'),
         url(font_path('fonts/socicon-webfont.ttf')) format('truetype'),
         url(font_path('fonts/socicon-webfont.svg#sociconregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*BASIC ELEMENT STYLING
-------------------
----------*/

body {                                                                             /*Sets the basic font sizing which all others refer to*/
  font: 100%/1.2 Georgia, "Times New Roman", serif;
  padding-left: 15px;
  padding-right: 15px;
}

* {                                                                               /*Sets all boxes to border-box width and height include content, padding and border NOT margin*/
  -webkit-box-sizing: border-box; /* Android <= 2.3, iOS <= 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.page {
  /* these declarations combine to center entire page in browser */
  margin: 0 auto;
  max-width: 960px;

}

img {                                                                           /* Get rid of image borders*/
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}





/*BACKDROP STYLING FOR SITE
---------------------------
-----------*/

.slowscroll {
  height: 100%;
 
}

#section1 .slowscroll {
  background-color: #EBEBEB;
  padding-top: 0.1em;
  margin-top: 0.1em;
}



#brandingcontainer {
  background-color: #C8C8C8;
  padding-bottom: 1em;
}

#brandingcontainer h2,
#brandingcontainer h4 {
  text-align: center;
  color: #345678;
}

#brandingcontainer h4 {
  font-size: 0.8em;
}

#brandingcontainer h2 {
  padding-top: 1em;
  margin-bottom: 0.2em;
}

#brandingcontainer h4 {
  margin-bottom: 0.2em;
}

.usertype {
  background-color: #C8C8C8;
}

.usertype h4 {
  margin: 0;
  color: #345678;
}

/*Resume page base styling*/

.Resume h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.Resume h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.Resume h4 {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.resumetab {
  display: inline-block;
  border: 0.3em solid #c8c8c8;
  border-bottom: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0;
  position: relative;
  top: 0.2em;
}

#resumetabakey {
  border-bottom: 0.2em solid #F2F2F2;
  background-color: #F2F2F2;
}

#resumetabaexp,
#resumetabaedu,
#resumetabaoth {
  background-color: #C8C8C8;
}

.resumetaba h2,
.resumetabb h2,
.resumetabc h2,
.resumetabd h2 {
  padding-right: 0.2em;
  padding-left: 0.2em;
  margin: 0;
}
.resumetabs {
  margin: 0;
}

#resumeexpb,
#resumeedub,
#resumeothb,
#resumekeygo {
  display: block;
  border: 0.2em solid #c8c8c8;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #F2F2F2;
  border-radius: 0.3em;
}

#resumeexpb,
#resumeedub,
#resumeothb {
  display: none;
}

#resumekeygo li {
  padding: 0.3em;
  list-style-type: square;
}

/*BASIC STYLING FOR EXP AND EDU ITEMSRESUME
-------------------------------------------
----------*/

.expitem {
  border: 0.2em solid #C8C8C8;
  margin: 0.2em;
}

.expitem h4 {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #000080;
  font-weight: bold;
}

.expitem h6 {
  padding-left: 2em;
}

.detailsexp li {
  margin: 0.2em;
}

.datesresume {
  text-align: right;
  padding-right: 1em;
}

hr {
  width: 65%;
}

#suredelete {
  display: none;
  
}
/*Setting all pictures max width
--------------------------------
-------*/

.example{
	max-width: 100%;
}

/*FORM STYLING
--------------
-----*/

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  width: 15em;
  background-color: #345678;
  color: #FFFFFF;
  border: inset;
}

.login h4 {
  margin-bottom: 0.2em;

}

.login {
  background-color: #C8C8C8;
    font-size: .7em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em;
  
}

.login input[type="submit"] {
   margin-left: 4em;
   margin-top: 0.4em;
}
#container,
.usercontainer,
#navul,
#brandingcontainer {
  margin-top: 0.3em;
  margin-left: 0.3em;
}

#sicontainer a {
  text-decoration: none;
}

#brandingcontainer {
  margin-right: 0.3em;
  margin-top: 0.3em;
}

#container {
  background-color: #C8C8C8;
}

#navcontainer {
  text-transform: uppercase;
}

#navul {
  background-color: #345678;
  display: block;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}

#navul ul {
  text-align: center;
  
}

#navul li {
  display: inline-block;
  margin: 0.3em;

}

#navul h3,
#navul a {
  text-align: center;
  margin-bottom: 0.2em;
  color: #DBDBDB;
  text-decoration: none;
  font-size: 0.9em;
  
}

#hidcontain {
  display: none;
  height: 0;
}

#hiddendrop {
  
  list-style: none;
  background-color: #345678;
  position: relative;
  left: 18.5em;
  bottom: 1.3em;
  width: 6em;
  opacity: 0.9;
  
}

#hiddendrop a,
#hiddendrop h3 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.9em;
  padding-left: 0.2em;
  text-transform: lowercase;

}

#hiddendrop li:first-child {
  padding-top: 0.3em;
}

#hiddendrop li:last-child {
  padding-bottom: 0.2em;
}


#container h2 {
  margin: 0;
}

.flashcontainer {
  
  color: #DBDBDB;
  display: inline-block;
  margin: 0em;

}

.flash,
.flashcontainer {
  font-size: 0.9em;
}

#navul .privatenav {
  
  border-left: 0.3em solid #FFFFFF;
  padding-top: 1em;
  padding-bottom: 0.7em;
  margin-top: 0;
  margin-bottom: 0;


}

#navul .privatenav a{
  padding-left: 0.4em;

  color: #FFFFFF;
}

#navul .privatenav2 a {

  color: #FFFFFF;
}



/* BACKGROUND IMAGE
-------------------
-----*/



/*Social icons
-------------------
------------*/




#sinav li{
  display: inline-block;
}

 #sinav li h3 {
  font-family: 'socicon';
 }

#sicontainer {
  margin-top: 0.3em;
  margin-left: 0.3em;
  background-color: #C8C8C8;
  display: inline-block;

}

#sinav a h3 {
  margin: 0.33em;
}

.footer {
  background-color: #345678;
  color: #DBDBDB;
  text-align: center;
  margin: 1em;
}

/* ===================== MEDIA QUERIES ===================== */

/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  /* Masthead specific styling for small screen*/
  }

/* 480+ 
------------------------------------------ */
@media only screen and (min-width: 30em) {
  /* Masthead */
}



/* 480-767-only 
------------------------------------------ */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* Sidebar */  
  }

/* 600-767-only 
------------------------------------------ */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* Sidebar */
  

  

}

/* 768+ 
------------------------------------------- */
@media only screen and (min-width: 48em) {

    /* Main Content where you can start adding columns*/

    .main {
    float: left;
    width: 62.5%;
  } /*Only an example it can alter in terms of percentage*/

    /* Sidebar */
  .sidebar {
    float: right;
    margin-top: 1.875em;
    width: 31.25%;
  }  /* Again can alter percentages*/

  

.Resume {
  width: 840px;
  margin: 0 auto;
  margin-top: 1em;
}

#section1 .slowscroll {
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.usercontainer {
  float: right;
  position: relative;
  bottom: 6.9em;
  right: 2em;
}

#brandingcontainer {
  padding-bottom: 2.5em;
  margin-bottom: -2.5em;
}

#sicontainer {
  position: relative;
  bottom: 6.5em;
  left: 2em;
}

#container {
  position: relative;
  bottom: 3.5em;
  left: -9em;
  display: inline-block;
}

/*  position: relative;
  bottom: 2.4em;
}*/

#navcontainer li {
  text-align: bottom-center;
  text-transform: lowercase;
}

#section1 {
  padding-bottom: -1.2em;
}

#navul li {
  margin: 1em;
}

.flashcontainer {
  position: relative;
  left: 21em;

}

#container,
 {
  line-height: 0;
}



/*.download a {
position: relative;
left: 45em;

}*/

}
  /* --- end media queries ---- */


/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
